DATABASE_URL=postgresql+psycopg2://tlog:tlog@localhost:5432/inventario_tlog
SECRET_KEY=
GLPI_API_URL=
GLPI_APP_TOKEN=
GLPI_USER_TOKEN=
DOCUSIGN_API_URL=
DOCUSIGN_ACCOUNT_ID=
DOCUSIGN_CLIENT_ID=
DOCUSIGN_CLIENT_SECRET=
